body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.286;
  color: var(--main-text-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  text-decoration: auto;
  color: inherit;
}

input,
button,
textarea,
select,
a {
  font: inherit;
  letter-spacing: inherit;
}

p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.main-animated {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.flexbox {
  display: flex;
}
