.cell {
  border-radius: 4px;
  border: 2px solid #cecece;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(85, 115, 133, 0.4);
  cursor: pointer;

  display: flex;
  align-items: self-start;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;

  flex: auto;
  margin: 10px;

  @media screen and (min-width: 768px) {
    margin: 0;
    width: auto;
  }

  &:hover {
    border-color: #032edd;
    background: var(
      --1,
      radial-gradient(50% 50% at 50% 50%, #fff 0%, #fdfdfd 73.96%, #fcfcfc 100%)
    );
    box-shadow: 0px 0px 6px 0px #032edd;
  }
}

.image {
  display: flex;
  justify-content: center;
  width: 118px;
  margin-right: 28px;

  @media screen and (min-width: 768px) {
    &:global(.image--xxs),
    &:global(.image--xs),
    &:global(.image--s) {
      width: 60px;
      margin-right: 16px;
    }

    &:global(.image--m),
    &:global(.image--l),
    &:global(.image--xl) {
      width: 68px;
      margin-right: 30px;
    }

    &:global(.image--xxl),
    &:global(.image--xxxl),
    &:global(.image--xxxxl) {
      width: 118px;
      margin-right: 46px;
    }
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #032edd;
  text-transform: uppercase;
  margin: 0;
}

.size {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
