:root {
  --main-text-color: #000000;
  --color-accent: #032edd;
  --color-accent--dark: #011461;
  --color-text: #57565e;
  --color-text-w: #ffffff;
  --color-background-btn: #ffffff;
  --background-btn-focus: #032edd;
  --border-color: #e6e6e6;
  --padding-section: 120px;
}
