.packed {
  :global(.container) {
    max-width: 600px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: self-start;
  }
}

.image {
  flex-shrink: 0;
}

.list {
  margin: 0;
  margin-bottom: 0;
  padding-left: 0;

  @media screen and (min-width: 768px) {
    padding-left: 25px;
  }

  li:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 80px;
  }
}

.btn {
  min-width: 180px;
  text-align: center;
  cursor: pointer;
  padding: 17px 36px;
  border-width: 0;
  border-radius: 4px;
  transition-property: background-color;

  color: var(--background-btn-focus);
  background-color: var(--color-background-btn);

  text-align: center;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.28;
  text-transform: uppercase;

  border-radius: 4px;
  border: 2px solid var(--background-btn-focus);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--color-text-w);
    background-color: var(--background-btn-focus);
  }

  &:not(:last-of-type) {
    margin-bottom: 25px;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

.btnBlue {
  color: var(--color-text-w);
  background-color: var(--color-accent);

  &:hover,
  &:focus {
    color: var(--background-btn-focus);
    background-color: var(--color-background-btn);
  }
}
